
:root{
  --loading-bar:0%;
}
/* html, body {
  overflow-x:hidden;
} */

*{
  font-family: 'Montserrat', sans-serif;
}

.text-expand{
  color:rgba(1,1,150,0.4);
  font-weight:bold;
  transition: all 0.2s linear;
}
.text-expand:hover{
  /* color:rgb(1, 1, 36); */
  color:rgba(1,1,150,0.8);
}
.text-expand-active{
  color:rgba(1,1,150,0.8);
}

/* @media only screen and (max-width:570px){
  html{
    width:100vw;
  }
  body{
    width:100%;
  }

} */
@media only screen and (max-width:425px){
  .text-expand{
    word-wrap:normal;
    white-space:nowrap;
  }
}
