
@import-normalize;

:root{
  --loading-bar:0%;
}
/* html, body {
  overflow-x:hidden;
} */

*{
  font-family: 'Montserrat', sans-serif;
}

.text-expand{
  color:rgba(1,1,150,0.4);
  font-weight:bold;
  transition: all 0.2s linear;
}
.text-expand:hover{
  /* color:rgb(1, 1, 36); */
  color:rgba(1,1,150,0.8);
}
.text-expand-active{
  color:rgba(1,1,150,0.8);
}

.Loading-page,
.Not-found{
  position: absolute;
  top:45%;left:50%;
  transform:translate(-50%,-50%);
}

.Not-found span{
  display:block;
  text-align:center;
  font-size:0.6em;
  margin-top:0.4em;
}

.Loading{
  position:relative;
}
.Loading span::before,
.Loading::before,
.Loading::after{
  content:'.';
  position:absolute;
  right:-0.5rem;
  
}
.Loading::before{
  animation: loading-before infinite 1.5s;
}
.Loading::after{
  right:-1rem;
  animation: loading-after infinite 1.5s; 
}
.Loading span::before{
  right:-1.5rem;
  animation: loading-last infinite 1.5s;
}
/*Credits to https://projects.lukehaas.me/css-loaders/*/
.spinner {
  font-size: 10px;
  margin: 50px auto;
  margin-top:2.5rem;
  text-indent: -9999em;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background: #000000;
  background: -moz-linear-gradient(left, rgb(81,144,228) 10%, rgba(0,0,0, 0) 42%);
  background: -webkit-linear-gradient(left, rgb(81,144,228) 10%, rgba(0,0,0, 0) 42%);
  background: -o-linear-gradient(left, rgb(81,144,228) 10%, rgba(0,0,0, 0) 42%);
  background: -ms-linear-gradient(left, rgb(81,144,228) 10%, rgba(0,0,0, 0) 42%);
  background: linear-gradient(to right, rgb(81,144,228) 10%, rgba(0,0,0, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before {
  width: 50%;
  height: 50%;
  background: rgb(81,144,228);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.spinner:after {
  background: whitesmoke; 
  width: 85%;
  height: 85%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



@keyframes loading-before{
  0%{
    opacity:0;
  }
  20%{
    opacity:1;
  }
}

@keyframes loading-after{
  0%{
    opacity:0;
  }
  40%{
    opacity:1;
  }
}

@keyframes loading-last{
  0%{
    opacity:0;
  }
  60%{
    opacity:1;
  }
}

/* @media only screen and (max-width:570px){
  html{
    width:100vw;
  }
  body{
    width:100%;
  }

} */
@media only screen and (max-width:425px){
  .text-expand{
    word-wrap:normal;
    white-space:nowrap;
  }
  .Not-found{
    width:90vw;
  }
}

@media only screen and (max-width:420px){
  .Not-found{
    font-size:24px;
    text-align:center;
    top:40%;
  }
}
