
.info-{
    background-color:rgba(34,34,34,0.2);
    padding-bottom:20px;  
}

.info{
    position:relative;
    width:100%;
    height:25vh;
    background:url('../../images/controller-background-2.jpg') no-repeat;
    background-size: cover;
    /* background-size:contain; */
    background-position: 0 40%;
}

.info::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgba(34,34,34,0.5);
    z-index:1;
}

.info-container{
    background-color:transparent;
    width:85%;
    min-height:60vh;
    margin: 0 auto 0;
    /* margin-top:-5rem; */
    padding-bottom:20px;
    display:flex;
    align-items:flex-start;
    justify-content:space-around;
}

.info-image{
    padding:20px;
    z-index:1;
}

.info-image img{
    width:250px;
    height:auto;
    object-fit:contain;
    position:relative;
}

.info-text{
    width:60%;
    /* padding-top:100px; */
    padding:20px;
    color:#222;
}

.info-text h1{
    /* color:white; */
    letter-spacing: 2px;
    margin-top:-10px;
    font-size:2rem;
}

.info-text p{
    font-weight:800; 
    line-height:1.5;
    /* min-height:140px; */
}

.info-text-side{
    display:flex;
    justify-content:left;
}

.info-text-side p{
    margin: 0.5rem 2rem 1rem 0;
    font-style:italic;
    font-size:0.9rem;
}

.info-bar-container{
    width:100%;
    background-color:#f5f5f5;
    text-align:center;

}

.info-bar{
    position:relative;
    transform:translateY(-30px);
    width:40%;
    margin: 0px auto 0;
    height:60px;
    border-radius:30px;
    background-color:#222;  
}

.info-bar::after{
    content:'';
    position:absolute;
    top:5px;
    bottom:5px;
    left:5px;
    border-radius:25px;
    z-index:1;
    min-width:15%;
    max-width:calc(100% - 10px );
    width:calc(var(--loading-bar) - 10px);
    background-color:rgba(9,44,90,1);
    transition:all ease-in-out 0.4s;
}

.info-bar-container small{
    position: relative;
    top:-30px;
}

.info-bar h4{
    z-index:2;
    margin:0;
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
.info-bar h4 > span {
    color:white;
    font-weight:bold;
    font-size:2rem;
    margin: 0 0.5rem;
}

.info-bar-review{
    text-align:center;
    background-color:#f5f5f5;
    width:100%;
    padding-top:19.92px;
}
.info-bar-review h2{
 margin-top:0;
}
.info-review{
    font-size:1.2rem;
    text-align:center;
    position:relative;
    transform:translateY(-10rem);

}
.commentbox-container{
    /* border: solid 2px rgba(34,34,34,0.125); */
     /* rgba(3, 71, 160, 0.125); */
     /* rgba(34,34,34,0.2); */
    /* rgb(134, 114, 3); */
    width:74%;
    margin:2rem auto;
    min-height:300px;
    /* background-color:pink; */
}
.commentbox-textfield-container,
.commentbox-comment-container{
    width:100%;
    box-sizing:border-box;
    padding:0.6rem;
}
.commentbox-textfield-container{
    position:relative;
    padding-bottom:0;
    z-index:2;
}
.commentbox-comment-container{
    z-index:1;
    padding-top:0;
    margin-top:-1rem;
}
.commentbox-form,
.commentbox-comment-form{
    /* box-shadow: 0px 0px 1px 0px black; */
    width:80%;
    background-color:#f5f5f5;
    padding:1.5rem 1rem;
    border:2px solid rgba(34,34,34,0.5);
    margin:0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
}
.commentbox-form{
    width:90%;
}
.commentbox-comment{
    width:86%;
    min-height:125px;
    background-color:#f5f5f5;
    padding:1.5rem 1rem;
    padding-left:1.5rem;
    padding-bottom:1rem;
    border:2px solid rgba(34,34,34,0.5);
    border-bottom:none;
    margin:0 auto;
    position:relative;
}
.commentbox-comment-editbox{
    transform-origin:top;
    opacity:0;
    transition: all 0.4s ease-out;
}

.commentbox-comment-form{
    width:86%;
    padding-left:1.5rem;
    padding-bottom:1rem;
    border-top:1px solid rgba(34,34,34,0.25);
    border-bottom:0;
     
}
.commentbox-comment-editbox-active{
    opacity:1;
}
.commentbox-comment:last-child{
    border-bottom: 2px solid rgba(34,34,34,0.5);
}
.commentbox-comment-top{
    width:100%;
    display:flex;
    justify-content:space-between;
}
.commentbox-comment-info{
    width:30%;
    box-sizing:border-box;
    padding: 0.5rem 0.3rem;
    border-radius:4px;
    background-color: rgb(81, 144, 228);
}
.commentbox-comment-update{
    display:flex;
    flex-direction:row-reverse;
    justify-content:flex-start;
    align-items:flex-start;
}
.commentbox-comment-edit{
    display:block;
    /* background-color:black; */
    width:20px;
    height:20px;
    margin-left:2px;
    margin-right:4px;
}
.commentbox-comment-edit:hover{
    color:rgb(81, 144, 228);
}
.commentbox-comment-delete{
    position:relative;
    width:20px;
    height:20px;
    /* background:transparent; */
    display:block;
    z-index:2;
    cursor:pointer;
}
.commentbox-comment-delete::before,
.commentbox-comment-delete::after{
    content:'';
    position:absolute;
    top:0.5px;bottom:0.5px;left:7.5px;right:7.50px;
    /* transform:translate(-5px,0); */
    display:block;
    width:5px;
    background-color:rgba(200,100,100);
    transform-origin: center;
    transition: all 0.5s ease-in;
}
.commentbox-comment-delete::before{
    transform:rotate(315deg);
}
.commentbox-comment-delete::after{
    transform:rotate(45deg);
}
.commentbox-comment-delete:hover::before{
    transform:rotate(450deg);
}
.commentbox-comment-delete:hover::after{
    transform:rotate(-90deg);
}
.commentbox-comment h5{
    margin:0;
}
.commentbox-comment small{
    font-weight:bold;
    font-size:0.8rem;
    margin:4px;
}
.commentbox-comment small:first-of-type{
    margin-left:0;
}
.commentbox-comment small:last-of-type{
    margin-right:0;
}
.commentbox-comment p{
    text-align:left;
    font-size:0.8rem;
    font-weight:800;
    margin-left:1rem;
}
.commentbox-form textarea,
.commentbox-comment-form textarea{
    resize:none;
    padding: 0.5rem;
    font-weight:800;
    color:black;
    border: 1px solid rgba(34,34,34,0.3);
}
.commentbox-form textarea:focus,
.commentbox-comment-form textarea:focus{
    border:1px solid green;
}
.commentbox-form input,
.commentbox-comment-form input{
    outline:none;
    margin:0.5rem;
    width:140px;
    height:40px;
    background-color:rgb(81, 144, 228);
    border:0;
    /* padding:0.5rem; */
    border-radius:20px;
    cursor:pointer;
    font-weight:700;
    font-size:1rem;
}
.commentbox-form input:hover,
.commentbox-comment-form input:hover{
    background-color:green;
    color:white;
}

@media only screen and (max-width:425px){
    .info-container{
        flex-direction:column;
        align-items:center;
        margin:0;
        width:100vw;
    }
    .info-image{
        /* margin:0 auto; */
        margin-top:-60px;
    }
    .commentbox-container{
        width:100%;
    }
    .commentbox-textfield-container{
        width:100%;
    }
    .commentbox-form{
        width:100%;
        box-sizing:border-box;
        flex-direction:column;
        padding: 1em;
    }
    .commentbox-form textarea{
       width:88%; 
    }
    .commentbox-form input{
        width:60%;
        margin-top:1em;
    }
    .info-bar{
        width:80%;
    }
    .info-text{
        width:80%;
    }
    .commentbox-comment,
    .commentbox-comment-form{
        width:90%;
        padding-left:10px;
        padding-right:10px;
    }
    .commentbox-comment-form{
        flex-direction:column;
    }
    .commentbox-comment-form textarea{
        width:90%;
        margin-bottom:6px;
    }
    .commentbox-comment-info{
        width:60%;
    }
    .commentbox-comment-top div span{
        margin-top:6px;
    }
}
@media only screen and (max-width:320px){
    .commentbox-form,
    .commentbox-comment,
    .commentbox-comment-form{
        width:96%;
        box-sizing:border-box;
        /* padding-left:10px;
        padding-right:10px; */
    }
}



