
.product{
    width:80%;
    margin:0 auto;
    text-align:center;
    /* border-top: solid 2px rgba(0,0,0,0.125); */
    border-bottom: solid 2px rgba(0,0,0,0.125);
  }
  
  .product-image{
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
  }
  .product-image img{
    /* align-self: flex-start; */
    /* margin-top:8px; */
    padding: 0 1rem;
  }
  .product-image p{
    padding: 0 1rem;
    margin:0;
    text-align:left;
  }