.nav{
    box-sizing:border-box;
    padding: 4px 20px;
    width:100%;
    margin:0;
    height:50px;
    background-color:#222;
    background-color:rgba(81, 144, 228);
    display:flex;
    justify-content:space-between;
    align-items:baseline;
    color:white;
}
.nav-brand{
    margin:0;
}
.nav-menu,
.nav-list{
    margin:0;
    padding:0;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    list-style:none;
    position:relative;
    transition: all 4s ease-in;

}
.nav-list{
    transition: all 4s ease-in;
   
}
.nav-menu .nav-hide .nav-menu{
    flex-direction: row-reverse;
}
.nav-menu .nav-hide .nav-list{
    transform:translate(300%);
}

/* .greeting:hover ~ .nav-list::before{
    border-left:8px solid #222;
}
.greeting:hover ~ .nav-list::after{
    border-right:8px solid #222;
} */
/* .nav-list::before,
.nav-list::after, */
.greeting::after{
    content:'';
    box-sizing:border-box;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    height:16px;
    width:16px;
    /* border-top: 8px solid blue;
    border-right: 8px solid red;
    border-bottom: 8px solid green; */
    border:8px solid transparent;
    border-right: 8px solid white;
}
/* .nav-list::after{
    right:-6px;
}
.nav-list::before{
    left:-6px;
    border:8px solid transparent;
    border-left: 8px solid white; 
} */

.nav-link{
    margin: 0 0.5em;
    color:white;
    position:relative;
}
.nav-link:hover .nav-item,
.nav-link-active{
    color:#222;
    font-weight:800;
}

.greeting{
    margin-right:1rem;
    font-weight:500;
    position:relative;
    /* cursor:pointer; */
}

/* .greeting:hover{
    color:rgb(81,144,228);
    #222;
} */
/* .greeting:hover::after{
    border-left: 8px solid rgb(81,144,228);
    #222;     
} */

.greeting::after{
    right:-22px;
    border:8px solid transparent;
    border-left: 8px solid white; 
}


.nav-list a{
    text-decoration:none;
} 

@media only screen and (max-width:768px){
  .nav-brand{
    font-size:24px;
  }
  .nav{
    padding: 4px 6px 4px;
    align-items:flex-end;
    width:100vw;
  }
  .greeting{
      margin:0;
      margin-right:1.2em;
  }
  .nav-item{
    font-size:14px;
    /* margin: 0 8px; */
  }
  .nav-link,
  .nav-link-active{
      margin:0 0.5rem;
  }
 
  .nav-menu{
      align-items:flex-end;
      /* margin-right:0.5rem; */
  }
}
@media only screen and (max-width:550px){
    .greeting{
        display:none
    }
}
/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */
