.nav{
    box-sizing:border-box;
    padding: 4px 20px 4px;
    width:100%;
    margin:0;
    height:46px;
    background-color:#222;
    background-color:rgba(81, 144, 228);
    display:flex;
    justify-content:space-between;
    align-items:baseline;
    color:white;
}
.nav-brand{
    margin:0;
}
.nav-list{
    margin:0;
    padding:0;
    display:flex;
    justify-content:flex-start;;
    align-items:center;
    list-style:none;
}

.nav-link{
    margin: 0 0.5em;
    color:white;
}
.nav-link:hover .nav-item{
    color:#222;
}
.greeting{
    margin-right:2rem;
}

.nav-list a{
    text-decoration:none;
} 

@media only screen and (max-width:768px){
  .nav-brand{
    font-size:24px;
  }
  .nav{
    padding: 4px 6px 4px;
    align-items:flex-end;
    width:100vw;
  }
  .greeting{
      margin-right:1em;
  }
  .nav-item{
    font-size:14px;
    margin: 0 4px;
  }
}
@media only screen and (max-width:375px){
    .greeting{
        display:none
    }
}
/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */
