
:root{
  --loading-bar:0%;
}

*{
  font-family: 'Montserrat', sans-serif;
}

.text-expand{
  color:rgba(1,1,150,0.4);
  font-weight:bold;
  transition: all 0.2s linear;
}
.text-expand:hover{
  /* color:rgb(1, 1, 36); */
  color:rgba(1,1,150,0.8);
}
.text-expand-active{
  color:rgba(1,1,150,0.8);
}

.product{
  width:80%;
  margin:0 auto;
  text-align:center;
  /* border-top: solid 2px rgba(0,0,0,0.125); */
  border-bottom: solid 2px rgba(0,0,0,0.125);
}

.product-image{
  display:flex;
  justify-content:space-around;
  align-items:flex-start;
}
.product-image img{
  /* align-self: flex-start; */
  /* margin-top:8px; */
  padding: 0 1rem;
}
.product-image p{
  padding: 0 1rem;
  margin:0;
  text-align:left;
}

/* .property-top{
  display:flex;
  justify-content: space-between;
} */
/* .property-image{
  align-self:flex-start;
  height:400px;
  width:500px;
}
.property-image img{
   height:100%;
  width:100%;
  object-fit:cover;
}


.property-description{
  text-align:right;
} */


